# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\xingdapai\Documents\gitfile\Introdunstion_to_Java_Programing_Comprehensive_Version-Tenth-Editon_Execrcise\Exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
